In [1]:
###########################################################################################
#                                  Name:Bhushan Joshi                                     #
#                                  Enrollment:2162270307050                               #
#                                  Div:G                                                  #
#                                  Government Polytechnic Porbandar                       #
###########################################################################################

#Practical 7: Write a Pandas program to implement following operation

In [2]:
#Practical 7.1:  to create a dataframe from a dictionary and display it
#Name: Bhushan Joshi
#Enrollment: 216270307050
import pandas as pd
data = {
    "name": ["Bhushan", "Gaurav", "Hitarth", "Hasan"],
    "age": [19, 18, 18, 18],
    "city": ["Porbandar", "Rajkot", "Ahmedabad", "Vadodra"]
}
df = pd.DataFrame(data)
print("Dataframe From Dictionary:")
print(df)

Dataframe From Dictionary:
      name  age       city
0  Bhushan   19  Porbandar
1   Gaurav   18     Rajkot
2  Hitarth   18  Ahmedabad
3    Hasan   18    Vadodra

In [3]:
#Practical 7.2:  to sort the DataFrame first by 'name' in ascending order
#Name: Bhushan Joshi
#Enrollment: 216270307050

import pandas as pd
data = {
    "name": ["Bhushan", "Gaurav", "Hitarth", "Hasan"],
    "age": [19, 18, 18, 18],
    "city": ["Porbandar", "Rajkot", "Ahmedabad", "Vadodra"]
}

df.sort_values(by="name", ascending=True, inplace=True)

print("Sorted Dataframe:")
print(df)

Sorted Dataframe:
      name  age       city
0  Bhushan   19  Porbandar
1   Gaurav   18     Rajkot
3    Hasan   18    Vadodra
2  Hitarth   18  Ahmedabad

In [4]:
#Practical 7.3: to delete the one specific column from the DataFrame  
#Name: Bhushan Joshi
#Enrollment: 216270307050
import pandas as pd
data = {
    "name": ["Bhushan", "Gaurav", "Hitarth", "Hasan"],
    "age": [19, 18, 18, 18],
    "city": ["Porbandar", "Rajkot", "Ahmedabad", "Vadodra"]
}

df.drop("age", axis=1, inplace=True)

print("Dataframe:")
print(df)

Dataframe:
      name       city
0  Bhushan  Porbandar
1   Gaurav     Rajkot
3    Hasan    Vadodra
2  Hitarth  Ahmedabad

In [5]:
#Practical 7.4 to write a DataFrame to CSV file using tab separator 
#Name: Bhushan Joshi
#Enrollment: 216270307050
import pandas as pd
data = {
    "name": ["Bhushan", "Gaurav", "Hitarth", "Hasan"],
    "age": [19, 18, 18, 18],
    "city": ["Porbandar", "Rajkot", "Ahmedabad", "Vadodra"]
}
new_data=pd.DataFrame(data=data)
df1=new_data.to_csv('data.csv', sep='\t', index=False)
print(new_data)
print("Data written successfully")

      name  age       city
0  Bhushan   19  Porbandar
1   Gaurav   18     Rajkot
2  Hitarth   18  Ahmedabad
3    Hasan   18    Vadodra
Data written successfully